<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <title>Quizzery - Canceled Payment</title>
    <style>
        .jumbotron-section-1 {
            padding-top: 200px;
        }
    </style>
</head>

<body>
    <div class="jumbotron text-center" style="height: 100vh;">
        <h1 class="display-3 jumbotron-section-1">We are sorry!</h1> <br>
        <p class="lead "><strong>You canceled your payment!</strong>
            Feel free to contact us if you encounter any problems &#128549;</p>
        <hr>
        <p>
            Having trouble? <a href="index.html#contactSection">Contact us</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="/Quizzery/" role="button">Continue to
                Quizzery</a>
        </p>
    </div>
</body>

</html>