<!DOCTYPE html>
<!-- Papadope -->

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Quizzery is powerful online test generator that will automatically mark and grade your quizzes. Create, send and start analyzing the results now.">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <title>Quizzery - Settings</title>
</head>

<body>

    <!-- Menu Section -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div id="mainMenu">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="images/logo.png" alt="Logo" onclick="window.location='/Quizzery'" class="quizzeryLogo">
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-light">
                        <li>
                            <a href="dashboard.html">Dashboard</a>
                        </li>
                        <li>
                            <a href="users.html">Users</a>
                        </li>
                        <li>
                            <a href="#">Reports</a>
                        </li>
                        <li>
                            <a href="settings.html">Settings</a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" role="form">

                        <a role="button" class="btn btn-primary" href="#upgradeModal" data-toggle="modal">Upgrade
                            Now</a>

                        <a role="button" class="btn btn-success" href="#confirm-logout" data-toggle="modal">Logout</a>

                    </form>
                </div>
            </div>
        </div>
    </nav>

    <!-- Settings Section -->
    <div class="container mt-5" style="padding-top: 70px;">
        <div class="row">
            <div class="col-lg-4 pb-5">
                <!-- Account Sidebar-->
                <img src="images/avatar3.png" alt="Avatar" class="avatar"> <br> <br>
                <strong>Welcome, Chris</strong>
                <div class="wizard" style="padding-top: 10px;">
                    <nav class="list-group list-group-flush">
                        <a class="list-group-item active" href="settings.html"><i
                                class="glyphicon glyphicon-user text-muted"></i>Profile
                            Settings</a>
                        <a class="list-group-item" href="password.html"><i
                                class="glyphicon glyphicon-user text-muted"></i>Password</a>
                    </nav>
                </div>
            </div>
            <!-- Profile Settings-->
            <div class="col-lg-8 pb-5">
                <form class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-fn">First Name</label>
                            <input class="form-control" type="text" id="account-fn" value="Papadope" required="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-ln">Last Name</label>
                            <input class="form-control" type="text" id="account-ln" value="Papadope" required="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-email">E-mail Address</label>
                            <input class="form-control" type="email" id="account-email" value="xristaras-giapanta@hotmail.com"
                                disabled="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-phone">Phone Number</label>
                            <input class="form-control" type="text" id="account-phone" value="6948574865"
                                required="">
                        </div>
                    </div>
                    <div class="col-12">
                        <hr class="mt-2 mb-3">
                        <div class="d-flex flex-wrap justify-content-between align-items-center">
                            <button class="btn btn-style-1 btn-success" type="button"
                                data-toast-message="Your profile updated successfuly.">Update Profile</button>
                            <button class="btn btn-style-1 btn-danger" type="button" data-toast=""
                                data-toast-message="Your profile deleted successfuly." style="float: right;">Delete
                                Account</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Logout Modal Safety -->
    <div class="modal fade" id="confirm-logout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Are you sure you want to Logout?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok" href="/Quizzery/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Upgrade Now Modal -->
    <div id="upgradeModal" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div id="pricing" class="container-fluid">
                    <div class="text-center">
                        <h2>Pricing</h2>
                        <h4>Choose a payment plan that works for you</h4>
                    </div>
                    <div class="row slideanim">
                        <div class="col-sm-4 col-xs-12">
                            <div class="panel panel-default text-center">
                                <div class="panel-heading">
                                    <h3>Free</h3>
                                </div>
                                <div class="panel-body">
                                    <p>Unlimited Quizzes</p>
                                    <p><strong>10</strong> questions per quiz</p>
                                    <p><strong>20</strong> responses per quiz</p>
                                    <p><strong>7</strong> question types</p>
                                    <p>Automatically calculate, score, grade</p>
                                    <p>Private and public sharing options</p>
                                    <p>Timed tests</p>
                                    <p>Analysis and reporting</p>
                                    <p>Randomize questions and options</p>
                                    <p>Answer feedback</p>
                                    <p>Personalize emails and welcome pages</p>
                                </div>
                                <div class="panel-footer">
                                    <h3>Free</h3>
                                    <h4>per month</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="panel panel-default text-center">
                                <div class="panel-heading">
                                    <h3>Premium</h3>
                                </div>
                                <div class="panel-body">
                                    <p>Unlimited questions per quiz</p>
                                    <p>Unlimited responses per quiz</p>
                                    <p><strong>2</strong> administrator / trainer accounts</p>
                                    <p>Certificates</p>
                                    <p>Question bank and question upload</p>
                                    <p>Customize branding, text and colors</p>
                                    <p>Sell tests and courses</p>
                                    <p>Quiz redirect</p>
                                    <p>Email notifications</p>
                                    <p>Make tests in any language</p>
                                    <p>Automate quiz</p>
                                    <p>and more…</p>
                                </div>
                                <div class="panel-footer">
                                    <h3>&#36;20</h3>
                                    <h4>per month</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="panel panel-default text-center">
                                <div class="panel-heading">
                                    <h3>Enterprise</h3>
                                </div>
                                <div class="panel-body">
                                    <p>Unlimited administrator / trainer accounts</p>
                                    <p>Phone and email support <strong>7</strong> days a week</p>
                                    <p>Personalize respondent portals</p>
                                    <p>Create custom groups</p>
                                    <p>APIs and Webhooks</p>
                                    <p><strong>100GB</strong> storage</p>
                                    <p>Quiz redirect</p>
                                    <p>Email notifications</p>
                                    <p>Make tests in any language</p>
                                    <p>Sell tests and courses</p>
                                    <p>and more…</p>
                                </div>
                                <div class="panel-footer">
                                    <h3>$49</h3>
                                    <h4>per month</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">Upgrade</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                        style="float: left">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Section -->
    <div class="siteFooter">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <a href="#">Michalis Vardakis</a>
                </div>
                <div class="col-md-4">
                    <a href="#">Panagiotis Baroutas</a>
                </div>
                <div class="col-md-4">
                    <a href="#">Christos Papadopoulos</a>
                </div>
            </div>
            <div class="row text-center">
                <h6>© 2020 - GroupProjectTeam</h6>
            </div>
        </div>
    </div>

    <!-- Script Js -->
    <script type="text/javascript" src="js/javascript.js"></script>

</body>

</html>